NEXT_PUBLIC_SUPABASE_URL=https://xabqepxryyzxzcutwtsk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhYnFlcHhyeXl6eHpjdXR3dHNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNTk4NTIsImV4cCI6MjA5NjczNTg1Mn0.bC9eOUzWhK744-T5yMD0ubTkxuD9o3J8yyP1w5Azbts
SUPABASE_SERVICE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhYnFlcHhyeXl6eHpjdXR3dHNrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTE1OTg1MiwiZXhwIjoyMDk2NzM1ODUyfQ.-oFWLRQ32Kbqnsdeog7hGlB52FDN0HI_ut9IHOewnf4

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000